<link rel="stylesheet" href="app.css">
<h1>The post page</h1>

<% for(var i = 0; i < posts.length; i++){ %>
    <li><%=posts[i].title %> - <strong><%= posts[i].Author%></strong></l>
<% } %>

<% posts.forEach(function(post){ %>
    <li><%=post.title %> - <strong><%= post.Author%></strong></l>
<% }) %>
